@use 'sass:math';
@import 'fonts.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

$mainDarkColor: #36332f;
$mainWhiteColor: #f5f5f5;
$breakpoints: (556px, 768px, 993px, 1024px, 1100px);

* {
	font-size: 16px;
	font-family: 'Montserrat';
	max-width: 100%;
}

button {
	height: min-content;
	width: max-content;
	line-height: normal;

	padding: 8px 9px;

	background: #00000000;
	border: 1px solid $mainDarkColor;
	border-radius: 9px;
	text-wrap: nowrap;
	transition: all 0.3s ease;

	@media (hover) {
		&:hover {
			background: $mainDarkColor;
			color: white;
		}
	}
}

[class*='container'] {
	width: 100%;
	@each $breakpoint in $breakpoints {
		@media (min-width: #{$breakpoint}) {
			max-width: calc(#{$breakpoint} - 20px);
		}
	}
	margin: 0 auto;
}

::selection {
	background-color: $mainDarkColor;
	color: $mainWhiteColor;
	text-shadow: none;
}

::-moz-selection {
	background-color: $mainDarkColor;
	color: $mainWhiteColor;
	text-shadow: none;
}

@function translate-px-to-vw($px, $width) {
	@return calc(strip-units($px) * 100vw / $width);
}

@function strip-units($number) {
	@return math.div($number, ($number * 0 + 1));
}

@mixin clamp-font-size($fhd-fs) {
	font-size: clamp(
		$fhd-fs / 1.3,
		translate-px-to-vw($fhd-fs, 1920),
		$fhd-fs * 1.2
	);
}
