@import '/src/styles/common.scss';

.wrapper{
	width: 100%;
}

.input{
	border-radius: 9px;
	border: 1px solid #dddddd50;
	background-color: #f9f9f980;
	padding: 10px;
	padding-top: 22px;
	font-size: 20px;
	font-weight: 500;
	height: 56px;
}

.placeholder{
	position: absolute;
	font-size: 20px;
	font-weight: 500;
	transition: all .3s ease;
	color: #36332F70;
}

.input:not(:placeholder-shown) + .placeholder{
	font-size: 14px;
	translate: 10px -52px;
}