@import '/src/styles/common.scss';

body{
	padding-top: 0;
}

.loginFormWrapper{
	height: 460px;
	width: 370px;

	background-color: white;

	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;

	border-radius: 29px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	border: none;

	padding: 55px 40px 30px;
}

.loginForm_header{
	height: 30%;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.loginForm_header_logo{
	object-fit: contain;
	object-position: center;
	height: 60px;
	width: 110px;
}

.loginForm_header_title{
	font-weight: 400;
	letter-spacing: 2px;
	margin: 10px 0;
}

.loginForm_formWrapper{
	height: 70%;
}

.loginForm_form{
	height: 100%;
	width: 100%;
}

.loginForm_inputWrapper{
	margin-top: 20px;
	border-bottom: 2px solid #8a8d90;
	width: 100%;
	height: 36px;
	
	& > input{
		width: 100%;
		height: 100%;
		
		padding-left: 10px;

		font-size: 15px;
		font-weight: 400;

		color: $mainDarkColor
	}

	& > input::placeholder{
		color: #6a6e73;
		font-size: 15px;
		font-weight: 400;
	}

	& > input:focus{
		outline: none;
	}
}

.loginForm_inputWrapper.loginForm_passwordInputWrapper{
	display: flex;
	flex-direction: row;

	& > input{
		width: 100%;
	}
}

#passwordHandlerButton{
	all: revert;
	border: none;
	background: none;
	outline: none;
	height: 100%;
	width: 50px;

	display: flex;
	justify-content: center;
	align-items: center;

	&:hover{
		cursor: pointer;
	}
}

.loginForm_submitButton{
	background-color: $mainDarkColor;
	color: $mainWhiteColor;

	border: 1px solid $mainDarkColor;

	width: 100%;
	height: 36px;

	padding: 6px;

	font-size: 15px;
	font-weight: 400;

	border-radius: 6px;

	margin-top: 30px;

	@media (hover: hover) {
		&:hover{
			background-color: $mainWhiteColor;
			color: $mainDarkColor;
		}
	}
}

.loginForm_form_forgotPassword_wrapper{
	width: 100%;
	margin-top: 10px;
}

.loginForm_form_forgotPassword{
	font-size: 12px;
	text-align: center;
	margin: 0 auto;
	width: auto;
	text-decoration: none;

	@media (hover: hover) {
		&:hover{
			text-decoration: underline;
		}
	}
}