@import '/src/styles/common.scss';

aside {
	animation: fade-left 1s ease;
}

@keyframes fade-left {
	from {
		translate: -100% 0;
	}
	to {
		translate: 0 0;
	}
}

.sidebar {
	width: 350px;
	min-height: calc(100svh - 100px);
	height: 100%;

	position: sticky;
	top: 100px;
	left: 0;
	z-index: 100;

	background-color: #fafafa;

	transition: all 0.5s ease;

	padding: 35px 45px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	flex: 0 0 auto;
}

.sidebar.open {
	width: 350px;
	translate: 0 0;

	@media (max-width: 769px) {
		width: 100vw;
	}
}

.sidebar.minimize {
	padding-left: 10px;
	padding-right: 10px;
	align-items: flex-end;
	overflow: hidden;
	width: 60px;

	& .sidebar_item_name {
		display: none;
	}
}

.sidebar_items {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.sidebar_item {
	display: flex;
	align-items: center;
	flex: 0 0 auto;
	gap: 20px;

	overflow: hidden;

	height: 43px;
	width: 100%;
	padding: 8px 10px;
	border-radius: 9px;

	font-size: 22px;
	font-weight: 500;

	transition: all 0.3s ease;

	@media (hover: hover) {
		&:hover {
			background-color: #e5e9ee50;
			color: color-mix(in srgb, $mainDarkColor 80%, #00000000);
		}
	}

	& > * {
		flex: 0 0 auto;
	}
}

.sidebar_item.active {
	background-color: #e5e9ee;
}

.sidebar_minimize_button {
	padding: 10px;

	width: min-content;

	border: #dddddd50 1px solid;
	border-radius: 9px;

	transition: all 0.3s ease;
	float: right;

	&:hover {
		background-color: #e5e9ee10;
	}

	&:active {
		background-color: #e5e9ee;
	}
}
