:root {
    --main-dark-color: #37332E;
    --main-light-color: #F5F5F5;
    --blue-color: #81CCE1;
    --gray-color: #F6F6F6;
}

@font-face {
    font-family: 'Montserrat Variable';
    font-style: normal;
    font-display: auto;
    font-weight: 100 900;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/montserrat:vf@latest/cyrillic-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Montserrat Variable';
    font-style: normal;
    font-display: auto;
    font-weight: 100 900;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/montserrat:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-size: 16px;
    white-space: nowrap;
    background-color: var(--main-light-color);
    letter-spacing: 1px;
    font-weight: 400;
    font-family: 'Montserrat Variable', serif;
}

::-webkit-scrollbar {
    display: none;
}

.animate-appear {
    filter: blur(10px);
    animation: appear 3s forwards;
}

.animate__text__appear * {
    color: rgba(0, 0, 0, 0);
    animation: appear 2s forwards;
}

@keyframes appear {
    0% {
        color: rgba(0, 0, 0, 0);
    }

    100% {
        color: var(--main-dark-color);
    }
}

.container-fluid {
    overflow-x: hidden;
}

.navbar {
    height: 100px;
    background-color: white !important;
    padding: 0 !important;
    transition: all .3s ease;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 100px;
    height: 100px;
    padding-top: 0;
    user-select: none;
}

.navbar-brand {
    height: 100px !important;
    width: auto !important;
    padding: 0 !important;
    margin: 0 !important;
    fill: var(--main-dark-color);
}

.btn-outline {
    border-radius: 7px;
    transition: all .15s ease-in;
}

.btn-outline:hover {
    background-color: #f3f3f3;
    color: black;
}

.btn-fill {
    border: var(--main-dark-color) 1px solid !important;
    background-color: var(--main-dark-color);
    border-radius: 7px;
    color: var(--main-light-color);
    transition: background .15s ease-in;
    height: min-content;
}

.btn-fill:hover {
    background-color: white;
}

.nav-link:hover {
    color: black;
}

.h-100svh {
    height: calc(100svh - 100px);
}

.min-h-100svh {
    min-height: calc(100svh);
}

.bold {
    font-weight: 700;
}

.fs-xxl {
    font-size: 54px;
}

.max-w-1000px {
    max-width: 1000px;
}

.list-style-none {
    list-style-type: none;
}

video {
    /*mix-blend-mode: luminosity;*/
    /*mix-blend-mode: screen;*/
    mix-blend-mode: color-dodge;
}

.left-50 {
    left: 50%;
}

::selection {
    background: var(--main-dark-color);
    color: var(--main-light-color);
    text-shadow: none;
}

::-moz-selection {
    background: var(--main-dark-color);
    color: var(--main-light-color);
    text-shadow: none;
}

.bg-dark {
    background-color: var(--main-dark-color) !important;
}

li {
    margin-bottom: 5px;
}

.top-100px {
    top: 100px;
}

.min-h-100 {
    min-height: 100%;
}

.btn-none {
    border: none !important;
}

.btn-none:active {
    border: none !important;
    background: none !important;
}

.border-blur * {
    box-shadow: 0 0 50px 50px white inset !important;
}

.wave {
    height: 100%;
    width: 100%;
}

.section {
    height: 300px;
    display: flex;
    flex-direction: column;
}


.section>* {
    margin: 0 0;
}

.section>.title {
    transition: all .3s ease-in-out;
    margin-bottom: 20px;
    font-size: 72px;
    font-weight: 700;
    border-bottom: solid #e5e5e5 2px;
}

.section>.icon {
    margin-bottom: 20px;
    user-select: none;
}

.section>.icon>img {
    margin-top: 30px;
    height: auto;
    width: 150px;
}

.section>.text {
    font-size: 28px;
    word-break: break-word;
    white-space: normal;
    overflow: hidden;
}

.section>.subtitle {
    font-size: 28px;
    white-space: normal;
    width: 300px;
    text-align: center;
    vertical-align: center;
}

.nav-link:after {
    display: block;
    content: '';
    position: relative;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    top: -40px;
    background-color: var(--main-dark-color);
    transform-origin: bottom right;
    transition: transform .3s;
}

.nav-link:not(.hover-none):hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.js-marquee {
    display: flex;
    flex-direction: row;
}

.js-marquee-wrapper {
    display: flex;
    flex-direction: row;
}

#marquee:before,
#marquee:after {
    position: absolute;
    height: 100%;
    width: 7vw;
    content: '';
    display: block;
    z-index: 1;
}

#marquee:before {
    left: 0;
    background: linear-gradient(90deg, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

#marquee:after {
    right: 0;
    background: linear-gradient(-90deg, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.transparent {
    visibility: hidden;
}

.bg-blur {
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
}

#changed-text {
    height: 100px;
}

.btn.active {
    color: var(--main-dark-color) !important;
    border-color: var(--main-dark-color) !important;
}

.btn:hover {
    background: var(--gray-color);
}

.separator {
    min-height: 1px;
    width: 100%;
    border-top: #d5d5d5 1px solid;
    padding: 15px 0;
}

.max-w__100 * {
    max-width: 100%;
}

.max-h__100 * {
    max-height: 100%;
}

#customers {
    width: 70vw;
}

#customers>a {
    height: 200px;
    width: calc(100% / 3);
    padding: 10px;
    text-align: center;
}

#customers>a>img {
    max-height: 100%;
    max-width: 100%;
    filter: grayscale(100%);
    opacity: 0.66;
    transition: all 0.5s ease-out;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
}

#customers>a>img:hover {
    filter: grayscale(0);
    opacity: 1;
}

.fs-title {
    font-size: 64px;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 500;
}

.fw-700 {
    font-weight: 500;
}

.fw-800 {
    font-weight: 500;
}

.section2 {
    width: 45%;
    padding: 10px 5px;
    margin: 10px;
}

.section2>.title {
    font-size: 22px;
    color: var(--main-dark-color);
    white-space: normal !important;
    height: 100px;
}

.section2>.content {
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: var(--main-dark-color);
    transition: all .3s ease;
}

.section2>.content>a {
    text-decoration: none;
    color: inherit;
}

.section2>.content>* {
    margin: 20px 0;
}

.section2 .form-range {
    width: 75%;
}

small {
    font-size: 14px;
    font-weight: 400;
}

.form-range {
    height: 15px;
}

.vertical-center {
    vertical-align: baseline;
}

.anchor {
    position: relative;
    top: -100px;
}

.form-check-input {
    background-color: #e9ecef;
}

.form-check-input:checked {
    background-color: #e9ecef;
    border: none;
}

.form-switch .form-check-input {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='37332E'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='37332E'/%3e%3c/svg%3e");
}

.form-range {
    height: 100%;
    --webkit-appearance: none;
    border-radius: 9px;
}

.form-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background-color: var(--main-dark-color);
    overflow: visible;
    cursor: pointer;
}

input:focus {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.text-color-main {
    color: var(--main-dark-color);
}

.hover-opacity {
    transition: opacity .2s ease;
}

.hover-opacity:hover {
    opacity: 70%;
}

.btn-none {
    border: none !important;
    outline: none !important;
}

.bg-gray {
    background-color: var(--gray-color);
}


.md-w-100 {
    width: auto;
}

.rounded {
    border-radius: 7px !important;
}

.text-black {
    color: var(--main-dark-color) !important;
}

.text-white {
    color: var(--main-light-color) !important;
}

.hover-white {
    color: var(--main-light-color) !important;
}

.bg-dark {
    background-color: var(--main-dark-color);
}

.h-lg-min {
    height: auto !important;
}

.nav-item {
    margin: 0 10px !important;
}

.navbar-toggler{
    border: none !important;
    outline: none !important;
    height: 50px;
    aspect-ratio: 1;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    padding: 10px!important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
    
.navbar-toggler > span{
    display: block;
    position: relative;
    height: 2px;
    border-radius: 25px;
    width: 90%;
    background: var(--main-dark-color);
    opacity: 1;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.navbar-toggler.open > span:nth-child(1){
    transform: translateY(10px) rotateZ(-45deg);
}
.navbar-toggler.open > span:nth-child(2){
    transform: scaleX(10%);
}
.navbar-toggler.open > span:nth-child(3){
    transform: translateY(-10px) rotateZ(45deg);
}

.navbar-toggler.open .offcanvas{
    visibility: visible;
}

#subtitle{
    height: 150px;
    overflow: hidden;
    opacity: 0;
}

/* $grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
); */

@media (max-width: 1400px) {
    .fs-xxl {
        font-size: 54px;
    }
}

@media (max-width: 1200px) {
    .fs-xxl {
        font-size: 48px;
    }

    .section2 {
        width: 100%;
    }

    .nav-link:after {
        display: none !important;
    }

    #nav-items {
        max-width: 960px;
        width: 100%;
        margin: 0 auto;
    }

    .navbar-nav li a {
        line-height: normal !important;
        height: auto;
        border-top: 1px color-mix(in srgb, var(--main-dark-color) 10%, #ffffff00 90%) solid;
        font-size: 18px;
        margin: 0;
        padding: 15px 0;
        font-weight: 500;
    }

    .navbar-nav li:nth-child(1) a {
        border: none !important;
    }

    .offcanvas {
        overflow: hidden;
        height: calc(100svh - 100px)!important;
        visibility: hidden;
        top: 100px !important;
        max-height: 0!important;
        transform: translateY(0)!important;
        transition: max-height .3s ease-in-out;
        border: none!important;
    }

    .offcanvas-body {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: inherit;
    }

    .offcanvas-body .btn {
        width: 100%;
        height: 3rem;
        font-size: 18px;
    }

}

@media (max-width: 992px) {
    .fs-xxl {
        font-size: 40px;
    }

    .fs-title {
        font-size: 52px;
        white-space: normal !important;
    }

    .fs-3 {
        font-size: 1.7rem !important;
    }

    .h-lg-min {
        height: 2rem !important;
    }
}

@media (max-width: 768px) {

    .md-fs-4 {
        font-size: 1.5rem !important;
    }

    #customers {
        width: 100%;
    }

    #customers>a {
        width: calc(100% / 2)
    }

    .section2 {
        margin: 0;
    }

    .section2>.title {
        height: auto;
    }

    .section2>.content {
        font-size: 18px;
        width: 100%;
    }

    .section2 .form-range {
        width: 100%;
    }

    .md-w-100 {
        width: 100% !important;
    }
}

@media (max-width: 576px) {
    .fs-xxl {
        font-size: 34px;
    }

    .section>.text {
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: keep-all;
        line-break: strict;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }

    .fs-title {
        font-size: 38px;
        white-space: normal !important;
        ;
    }

    .fs-3 {
        font-size: 5vw !important;
    }

}