.navbar>.container-fluid {
    padding: 0 !important;
}

.dropdown-menu::before,
.dropdown-menu::after {
    border: none;
    content: none;
}

#profile-menu {
    top: calc(100% + 22px) !important;
    left: auto !important;
    right: 0;
    border: none !important;
    border-radius: 0 0 9px 9px !important;
    padding: 30px;
}

#profile-menu .title {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#profile-menu .subtitle {
    font-size: 14px;
    font-weight: 400;
}

#profile-menu ul {
    padding: 0;
}

#profile-menu ul li {
    list-style: none;
    font-size: 16px;
}

#profile-menu a {
    font-style: normal;
    text-decoration: none;
    color: var(--main-dark-color);
    transition: all .1s ease;
}

#profile-menu a:hover {
    color: color-mix(in srgb, var(--main-dark-color), rgba(255, 255, 255, 0));
}

.card {
    width: 265px !important;
    border: none !important;
    height: 300px !important;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: normal;
    text-wrap: wrap;
}

.card img {
    height: 80%;
    width: auto;
    padding: 10px;
}

.card-body {
    flex: 0 1 auto;
}

.card-title,
.card-subtitle {
    margin: 0;
}

.card-title {
    font-size: 18px;
}

.card-subtitle {
    font-size: 16px;
    font-weight: 300 !important;
}

@media (max-width: 1400px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .card {
        width: calc(50% - 60px) !important;
    }
}

@media (max-width: 576px) {
    .card {
        width: 100% !important;
    }
}