@import '/src/styles/common.scss';

.navbar {
	height: 100px;
	width: 100vw;

	background: #00000000;
	z-index: 999;
	backdrop-filter: blur(3px);
	transition: background-color 0.1s 0.15s linear;
}

.footer_navbar {
	@media (max-width: 1100px) {
		& .navbar_menuList {
			flex-wrap: wrap;
		}
	}
}

.navbar_nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	margin: 0 auto;
	padding: 0 10px;

	height: 100%;
}

.navbar_logo {
	height: 100px;
	width: 200px;
	object-fit: contain;
	object-position: center;
	flex: 0, 0;

	& > * {
		height: 100px;
		width: auto;
		float: right;

		@media (max-width: 1024px) {
			float: left;
		}
	}
}

.navbar_menu {
	height: inherit;
	width: 100%;
}

.navbar_burger {
	display: flex;
	align-self: center;
	border: none;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 26px;
	width: 32px;

	@media (min-width: 1000px) {
		display: none;
	}
}

.navbar_burger:hover {
	background: none;
	cursor: pointer;
}

.navbar_burger > span {
	width: 100%;
	height: 4px;

	display: block;
	border-radius: 10px;
	background: $mainDarkColor;
	transition: all 0.2s ease;
	flex: 0 0 auto;
}

.navbar_burger > span:last-child {
	margin-bottom: 0;
}

.navbar_burger.open > span:nth-child(1) {
	@media (max-width: 1024px) {
		float: right;
	}
	transform-origin: 0% 0%;
	transform: rotate(45deg);
}

.navbar_burger.open > span:nth-child(2) {
	transform: scale(0);
}

.navbar_burger.open > span:nth-child(3) {
	transform-origin: 0% 100%;
	transform: rotate(-45deg);
}

.navbar_burger.close > span {
	transform: rotateZ(0);
}

.navbar_burger:hover > span {
	@media (hover: hover) {
		background-color: color-mix(in srgb, $mainDarkColor 75%, #ffffff 25%);
	}
}

.navbar_menuList {
	margin: 0 !important;
	padding: 0;
	list-style: none;
	align-items: center;

	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: center;

	@media (max-width: 1000px) {
		display: none;
	}
}

.navbar_menuListItem {
	height: inherit;
	display: flex;
	align-items: center;
	flex-shrink: 0;
}

.navbar_menuLink {
	text-decoration: none;
}

.navbar_menuLink:after {
	display: block;
	content: '';
	position: relative;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	background-color: $mainDarkColor;
	transform-origin: bottom right;
	transition: transform 0.3s;
}

.navbar_menuLink:hover:after {
	@media (hover: hover) {
		transform: scaleX(1);
		transform-origin: bottom left;

		@media (max-width: 768px) {
			display: none;
		}
	}
}

.navbar_menuItemDropdown {
	position: absolute;
	top: 0;
	background: rgb(255, 255, 255);
	transition: all 0.2s 0.15s linear;
	visibility: hidden;
	opacity: 0;
	left: 0;
	width: 1000vw;
	z-index: -1;
	padding-top: 70px;
}

.navbar_menuDropdownItems {
	position: relative;
	max-height: 280px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	gap: 10px;
	padding: 25px 10px 45px;
	margin: 0 auto;
	max-width: 50%;
}

.navbar_menuDropdownItems > a:hover {
	@media (hover: hover) {
		color: color-mix(in srgb, $mainDarkColor, $mainWhiteColor);
	}
}

.navbar_menuListItem:hover .navbar_menuItemDropdown,
.navbar_menuItemDropdown:hover {
	visibility: visible;
	opacity: 100;
}

.rightSide {
	width: 200px;
	flex: 0, 0;

	@media (max-width: 1000px) {
		display: none;
	}
}

.rightSide > * {
	transform: translateY(-50%);
	position: relative;
	top: 50%;
	float: left;

	@media (max-width: 1024px) {
		float: right;
	}
}
