.contact_card {
	display: flex;
	flex-direction: column;
	width: 270px;

	@media (max-width: 768px) {
		gap: clamp(0px, 5vw, 40px);
		flex-direction: row;
		width: 100%;
	}
}

.contact_title_wrapper {
	@media (max-width: 768px) {
		width: 40%;
	}
}

.contact_title {
	font-weight: bold;
	font-size: 40px;
	margin-bottom: 36px;
}

.contact_subtitle {
	font-weight: 300;
	font-size: 14px;
	margin-bottom: 36px;
	min-height: 70px;
}

.contact_data {
	// font-light text-[20px] text-[#36332f] hover:underline
	font-weight: 300;
	font-size: 20px;
	color: #36332f;

	@media (hover) {
		&:hover {
			text-decoration: underline;
		}
	}

	@media (max-width: 768px) {
		width: 60%;
	}
}
