@import '/src/styles/common.scss';

.card {
	min-height: 270px;
	min-width: 300px;
	background-color: $mainWhiteColor;
}

.card_hero {
	width: 100%;
	height: 212px;
}

.card_hero_title {
	position: relative;
	top: -100%;
	line-height: 30px;

	padding: 12px;

	color: white;
	font-size: 28px;
	font-weight: 800;

	text-transform: uppercase;
	width: 50px;
}

.card_hero_image {
	height: inherit;
	width: inherit;

	object-fit: cover;
	object-position: center;

	user-select: none;
	pointer-events: none;
}

.card_caption {
	display: flex;
	align-items: center;
	padding: 0 12px;
	height: 60px;
	gap: 12px;
}

.card_caption_logo {
	height: 30px;
	width: 30px;
	background: #d9d9d9;
}

.card_caption_name {
	font-weight: 600;
	font-size: 16px;
	line-height: 12px;
}

.card_caption_state {
	font-weight: 500;
	font-size: 10px;
	color: #aeaeae;
}
