.content_wrapper{
	position: relative;
	top: 100px;
}

.page_title{
	margin-left: 24px;
	margin-top: 20px;
	font-weight: 600;
}

.about_block {
	margin: 20px 40px;
	font-size: 24px;
}

.block_title {
	font-size: 24px;
	font-weight: 500;
}
