{% extends 'base.html' %}
{% load static %}

{% block header %}
    <nav class="navbar navbar-expand-xl fixed-top">
        <div class="container align-items-center">
            <a class="navbar-brand" style="display: none" href="#">
                <img src="{% static 'svg/logo.svg' %}" alt="" class="h-100 py-2">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" id="navbutton">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between h-100" id="navbar">
                <a class="navbar-brand" style="display: none" href="#">
                    <img src="{% static 'svg/logo.svg' %}" alt="" class="h-100 py-2">
                </a>
                <ul class="navbar-nav">
                    <li class="nav-item mx-2">
                        <a class="nav-link" aria-current="page" href="#">О компании</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#">Отраслевые решения</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#">Услуги и цены</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#">Заказчики</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#">Контакты</a>
                    </li>
                </ul>
                <div class="navbar-nav" style="gap: 30px">
                    {#                    <button class="btn btn-outline">#}
                    {#                        Вход#}
                    {#                    </button>#}
                    {#                    <button class="btn btn-fill">#}
                    {#                        Регистрация#}
                    {#                    </button>#}
                    <button class="btn btn-fill">
                        Aутентификация
                    </button>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container-fluid w-100 min-h-100svh m-0 p-0">
        {#        <video autoplay muted loop preload="auto"#}
        {#               poster="{% static 'img/main-video-poster.jpg' %}"#}
        {#               width="100%" height="100%" class="object-fit-cover">#}
        {#            <source src="{% static 'img/wave.mp4' %}" type="video/mp4"/>#}
        {#        </video>#}
        <div class="wave d-flex justify-content-center min-h-100svh overflow-hidden"></div>
    </div>
    <div class="position-absolute h-100svh top-100px left-50 translate-middle-x
                container d-flex justify-content-around align-items-center
                flex-column text-wrap z-3">
        <p class="max-w-1000px fs-xxl bold text-lg-center text-md-start ">
            Мы создаем пространство эффективности вашего бизнеса
        </p>
        <ul class="fs-4 list-style-none text-center p-0" id="changed-text">
            <li>Автоматизация бизнес-процессов</li>
            <li>Интеграция инфраструктурных решений с учетными системами</li>
            <li>Трансформация критически важных ИТ-системы без риска для бизнеса</li>
        </ul>
    </div>
    <div class="container-fluid pt-5 bg-white ">
        <div class="container">
            <p class="fs-2 text-wrap col-lg-8 col-l-12 mb-5">
                <b>АПИ-ФАКТОРИ</b>
                — команда профессионалов, способная реализовать
                самые сложные проекты корпоративного уровня.
            </p>
            <div class="d-md-block d-lg-none">
                <div id="carousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="section">
                                <p class="title">2</p>
                                <p class="text">
                                    номинации на премию “Проект года”
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="section">
                                <p class="title">40+</p>
                                <p class="text">
                                    высококвалифицированных специалистов
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="section">
                                <p class="title">10+</p>
                                <p class="text">
                                    среднего опыта сотрудников в IT-сфере
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="section">
                                <p class="title">20+</p>
                                <p class="text">
                                    успешно реализованных проектов
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#        #}
        <div class="container d-lg-block d-none">
            <div class="row">
                <div class="col-xxl-6 col-lg-6 col-md-12">
                    <div class="section">
                        <p class="title">2</p>
                        <p class="text">
                            номинации на премию “Проект года”
                        </p>
                    </div>
                </div>
                <div class="col-xxl-6 col-lg-6 col-md-12">
                    <div class="section">
                        <p class="title">40+</p>
                        <p class="text">
                            высококвалифицированных специалистов
                        </p>
                    </div>
                </div>
                <div class="col-xxl-6 col-lg-6 col-md-12">
                    <div class="section">
                        <p class="title">10+</p>
                        <p class="text">
                            среднего опыта сотрудников в IT-сфере
                        </p>
                    </div>
                </div>
                <div class="col-xxl-6 col-lg-6 col-md-12">
                    <div class="section">
                        <p class="title">20+</p>
                        <p class="text">
                            успешно реализованных проектов
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="container">
            <p class="fs-1 mb-5">
                <b>Отраслевые решения</b>
            </p>
        </div>
        <div class="d-flex flex-row gap-lg-5 gap-sm-2 mt-2 overflow-x-hidden w-100 position-relative" id="marquee">
            <div class="section align-items-center">
                <div class="icon">
                    <img src="{% static 'svg/tower.svg' %}" alt=""/>
                </div>
                <div class="subtitle">
                    Нефтегазовое машиностроение
                </div>
            </div>
            <div class="section align-items-center">
                <div class="icon">
                    <img src="{% static 'svg/oil.svg' %}" alt=""/>
                </div>
                <div class="subtitle">
                    Нефтесервис
                </div>
            </div>
            <div class="section align-items-center">
                <div class="icon">
                    <img src="{% static 'svg/mine.svg' %}" alt=""/>
                </div>
                <div class="subtitle">
                    Горнорудная отрасль
                </div>
            </div>
            <div class="section align-items-center">
                <div class="icon">
                    <img src="{% static 'svg/pipe.svg' %}" alt=""/>
                </div>
                <div class="subtitle">
                    Трубная отрасль
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-white py-5">
        <div class="container">
            <p class="fs-1 mb-5">
                <b>Услуги</b>
            </p>
            <div class="d-flex align-items-center flex-xl-row flex-column">
                <div class="d-flex flex-wrap flex-row flex-xl-column nav-pills me-xl-3 align-items-start mb-5 col-md-12 col-xl-4"
                     id="v-pills-tab" role="tablist"
                     aria-orientation="vertical">
                    <button class="btn active fs-4 text-start text-wrap mb-1" id="v-pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                            aria-selected="true">Автоматизация производства
                    </button>
                    <button class="btn fs-4 text-start text-wrap mb-1" id="v-pills-profile-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                            aria-selected="false">Бухгалтерия и кадры

                    </button>
                    <button class="btn fs-4 text-start text-wrap mb-1" id="v-pills-messages-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
                            aria-selected="false">Документооборот
                    </button>
                    <button class="btn fs-4 text-start text-wrap mb-1" id="v-pills-settings-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                            aria-selected="false">Компьютеры и сети
                    </button>
                </div>
                <div class="tab-content fs-5" id="v-pills-tabContent">
                    <div class="tab-pane fade show active text-wrap" id="v-pills-home" role="tabpanel"
                         aria-labelledby="v-pills-home-tab">
                        <ul>
                            <li>
                                Внедрение систем управления производством (ERP и планирование)
                            </li>
                            <li>
                                Внедрение систем управления складом и запасами
                            </li>
                            <li>
                                Внедрение систем управления затратами и учетом себестоимости
                            </li>
                            <li>
                                Проектные работы
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade text-wrap" id="v-pills-profile" role="tabpanel"
                         aria-labelledby="v-pills-profile-tab">
                        <ul>
                            <li>
                                Автоматизация управленческих и учетных задач в сфере бухгалтерского учета
                            </li>
                            <li>
                                Автоматизация управленческих и учетных задач в сфере кадрового делопроизводства
                            </li>
                            <li>
                                Консалтинг в сфере бухгалтерского и налогового учета, кадрового делопроизводства
                            </li>
                            <li>
                                Проектные работы
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade text-wrap" id="v-pills-messages" role="tabpanel"
                         aria-labelledby="v-pills-messages-tab">
                        <ul>
                            <li>
                                Автоматизация документооборота и архива документов
                            </li>
                            <li>
                                Автоматизация управленческих процессов
                            </li>
                            <li>
                                Проектные работы
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade text-wrap" id="v-pills-settings" role="tabpanel"
                         aria-labelledby="v-pills-settings-tab">
                        <ul>
                            <li>
                                Проектирование инфраструктуры и каналов связи
                            </li>
                            <li>
                                Интеграция инфраструктурных решений с учетными системами
                            </li>
                            <li>
                                Видеонаблюдение, IP-телефония
                            </li>
                            <li>
                                Услуги по защите информации
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="height: 1000px; width: 100%"></div>
{% endblock %}