{% extends 'index.html' %}
{% load static user_tags %}

{% block header %}
<nav class='navbar navbar-expand-xl fixed-top'>
  <div class='w-100 z-3'>
    <div id='collapsed-header'
      class='container-lg d-flex flex-row justify-content-between align-items-center'>
      <a class='navbar-brand nav-link d-xl-none' href="{% url 'main:home' %}"
        style="background-image: url({% static 'svg/logo.svg' %})"></a>
      <i class='menu-toggler navbar-toggler' type='button'
        data-bs-toggle='offcanvas' data-bs-target='#offcanvas'
        aria-controls='offcanvas' aria-label='Toggle navigation'>
        <span></span>
        <span></span>
        <span></span>
      </i>
    </div>
  </div>

  <div class='container-lg w-100'>
    <div class='offcanvas offcanvas-top z-2' tabindex='-1'
      data-bs-backdrop='false' id='offcanvas' aria-labelledby='offcanvasLabel'>
      <div class='offcanvas-body justify-content-between w-100 z-2'>
        <a class='navbar-brand nav-link hover-none d-none d-xl-block'
          href="{% url 'main:home' %}"
          style="background-image: url({% static 'svg/logo.svg' %})"></a>
        <ul class='navbar-nav' id='nav-items'>
          <li class='nav-item'>
            <a class='nav-link' aria-current='page' href='#about'>О компании</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' href='#solutions'>Отраслевые решения</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' href='#services'>Услуги</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' href='#prices'>Стоимость</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' href='#customers'>Заказчики</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' href='#contacts'>Контакты</a>
          </li>
        </ul>
        <div class='navbar-nav align-items-center'>
          <form action="{% url 'user:profile' %}">
            {% if user.is_authenticated %}
              <button type='submit' class="btn btn-clean">
                <i class="bi bi-person"></i>
                {{ user.email|getNameByEmail }}
              </button>
            {% else %}
            <button type='submit' class='btn btn-md'>
              Aутентификация
            </button>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class='container-fluid' id='wave-wrapper'>
  <div id='wave'></div>
</div>
<div class='container-lg' id='hero-block'>
  <div class='text-lg-center text-md-start' id='title'>
    Cоздаем <strong>пространство эффективности</strong> вашего бизнеса
  </div>

  <button onclick="location.href='#callback'" class='btn btn-lg'>
    Обсудить услугу
  </button>
</div>
<div class='container-fluid bg-white'>
  <div class='container-lg'>
    <a class='anchor' name='about'></a>
    <div id='description'>
      <h1>АПИ-ФАКТОРИ</h1>
      <h3>— команда профессионалов, способная реализовать самые сложные проекты
        корпоративного уровня.</h3>
    </div>
  </div>

  <div class='container-lg d-flex flex-row justify-content-between'
    id='achievements-block'>
    <div class='section achievement' style='border-color: #8FC5D9'>
      <div class='title'>
        40+
      </div>
      <div class='content'>
        высококвалифицированных специалистов
      </div>
    </div>

    <div class='section achievement' style='border-color: #BFB4D5'>
      <div class='title'>
        2
      </div>
      <div class='content'>
        номинации на премию “Проект года”
      </div>
    </div>

    <div class='section achievement' style='border-color: #F9DA74'>
      <div class='title'>
        10+
      </div>
      <div class='content'>
        среднего опыта сотрудников в IT-сфере
      </div>
    </div>

    <div class='section achievement' style='border-color: #BFB6A8'>
      <div class='title'>
        20+
      </div>
      <div class='content'>
        успешно реализованных проектов
      </div>
    </div>
  </div>
  <div class='container-lg'>
    <h1 class='title'>
      <a class='anchor' name='solutions'></a>
      <strong>Отраслевые решения</strong>
    </h1>

    <div class='container-lg d-flex flex-row justify-content-between pb-0'
      id='solutions-block'>

      <div class='section solutions' style='border-color: #BFB6A8'>
        <img src="{% static '/svg/driller.svg' %}" alt='driller icon'>
        <div class='content'>
          Нефтегазовое машиностроение
        </div>
      </div>

      <div class='section solutions' style='border-color: #BFB6A8'>
        <img src="{% static '/svg/oilbarrel.svg' %}" alt='oilbarrel icon'>
        <div class='content'>
          Нефтесервис
        </div>
      </div>

      <div class='section solutions' style='border-color: #BFB6A8'>
        <img src="{% static '/svg/minemachine.svg' %}" alt='minemachine icon'>
        <div class='content'>
          Горнорудная отрасль
        </div>
      </div>

      <div class='section solutions' style='border-color: #BFB6A8'>
        <img src="{% static '/svg/pipe.svg' %}" alt='pipe icon'>
        <div class='content'>
          Трубная отрасль
        </div>
      </div>
    </div>
  </div>
</div>
<div class='container-fluid'>
  <div class='container-lg'>
    <h1 class='title d-flex flex-row'>
      <a class='anchor' name='services'></a>
      <strong>Услуги</strong>
    </h1>
    <div id="serivces-tabs">
      <div id="categorys"></div>
      
      <!-- 
      <div class='d-flex align-items-center flex-xl-row flex-column' id='services-block'>
        <div class='d-flex flex-wrap flex-row flex-xl-column nav-pills align-items-start col-md-12 col-xl-4' 
        id='v-pills-tab' role='tablist' aria-orientation='vertical'>
          <button id='v-pills-1-tab' class='active' data-bs-toggle='pill'
            data-bs-target='#v-pills-1' type='button' role='tab'
            aria-controls='v-pills-1' aria-selected='true'>
            Автоматизация производства
          </button>

          <button id='v-pills-2-tab' data-bs-toggle='pill'
            data-bs-target='#v-pills-2' type='button' role='tab'
            aria-controls='v-pills-2' aria-selected='false'>
            Бухгалтерия и кадры
          </button>

          <button id='v-pills-3-tab' data-bs-toggle='pill'
            data-bs-target='#v-pills-3' type='button' role='tab'
            aria-controls='v-pills-3' aria-selected='false'>
            Документооборот
          </button>

          <button id='v-pills-settings-tab' data-bs-toggle='pill'
            data-bs-target='#v-pills-settings' type='button' role='tab'
            aria-controls='v-pills-settings' aria-selected='false'>
            Компьютеры и сети
          </button>
        </div>
        <div class='tab-content' id='v-pills-tabContent'>
          <div class='tab-pane fade show active text-wrap' id='v-pills-1'
            role='tabpanel' aria-labelledby='v-pills-1-tab'>
            <ul>
              <li>Внедрение систем управления производством <light>(ERP и
                  планирование)</light></li>
              <li>Внедрение систем управления складом и запасами</li>
              <li>Внедрение систем управления затратами и учетом
                себестоимости</li>
              <li>Проектные работы</li>
            </ul>
          </div>
          <div class='tab-pane fade text-wrap' id='v-pills-2' role='tabpanel'
            aria-labelledby='v-pills-2-tab'>
            <ul>
              <li>Автоматизация управленческих и учетных задач в сфере
                бухгалтерского учета</li>
              <li>Автоматизация управленческих и учетных задач в сфере кадрового
                делопроизводства</li>
              <li>Консалтинг в сфере бухгалтерского и налогового учета, кадрового
                делопроизводства</li>
              <li>Проектные работы</li>
            </ul>
          </div>
          <div class='tab-pane fade text-wrap' id='v-pills-3' role='tabpanel'
            aria-labelledby='v-pills-3-tab'>
            <ul>
              <li>Автоматизация документооборота и архива документов</li>
              <li>Автоматизация управленческих процессов</li>
              <li>Проектные работы</li>
            </ul>
          </div>
          <div class='tab-pane fade text-wrap' id='v-pills-settings'
            role='tabpanel' aria-labelledby='v-pills-settings-tab'>
            <ul>
              <li>Проектирование инфраструктуры и каналов связи</li>
              <li>Интеграция инфраструктурных решений с учетными системами</li>
              <li>Видеонаблюдение, IP-телефония</li>
              <li>Услуги по защите информации</li>
            </ul>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>

<div class='container-fluid bg-white'>
  <div class='container-lg'>
    <h1 class='title p-0'>
      <a class='anchor' name='prices'></a>
      <strong>Стоимость</strong>
    </h1>

    <div id='price'>
      <div class='row'>
        <div class='col-12 col-md-9'>
          Проектные работы, консалтинг и корпоративное сопровождение
        </div>
        <div class='col-12 col-md-3 text-end'>
          от 1600 &#8381; в час
        </div>
      </div>

      <div class='row'>
        <div class='col-12 col-md-9'>
          Внедрение и модификация программных продуктов «1С Предприятие»
        </div>
        <div class='col-12 col-md-3 text-end'>
          от 1600 &#8381; в час
        </div>
      </div>

      <div class='row'>
        <div class='col-12 col-md-9'>
          Внедрение и модификация программных продуктов «ERP система Олимп»
        </div>
        <div class='col-12 col-md-3 text-end'>
          от 1600 &#8381; в час
        </div>
      </div>

      <div class='row'>
        <div class='col-12 col-md-9'>
          Проектирование инфраструктуры и каналов связи
        </div>
        <div class='col-12 col-md-3 text-end'>
          по запросу
        </div>
      </div>

      <div class='row'>
        <div class='col-12 col-md-9'>
          Индивидуальное обучение пользователей, корпоративных групп
        </div>
        <div class='col-12 col-md-3 text-end'>
          по запросу
        </div>
      </div>
    </div>

    <button onclick="location.href='#callback'" class='btn btn-lg'>
      <strong>Подробнее</strong>
    </button>
  </div>
</div>

<div class='container-fluid'>
  <div class='container-lg'>
    <h1 class='title p-0'>
      <a class='anchor' name='customers'></a>
      <strong>Заказчики</strong>
    </h1>
  </div>

  <div class='container-lg'>
    <div class='customers'>
      <div class='field field-md'>
        <img src="{% static '/img/jiu3AQz.png' %}">
      </div>
      <div class='field field-md'>
        <img src="{% static '/img/JjvK1bZ.png' %}">
      </div>
      <div class='field field-md'>
        <img src="{% static '/img/kjLJ31b.png' %}">
      </div>
      <div class='field field-lg'>
        <img src="{% static '/img/rtbKJ73d.png' %}">
      </div>
      <div class='field field-lg'>
        <video src="{% static '/video/cybersteel.mp4' %}" muted onmouseover="this.play(); this.playbackRate = 1.3;"></video>
        <!-- <img src="{% static '/img/nQggP2T.png' %}"> -->
      </div>
      <div class='field field-md'>
        <img src="{% static '/img/eA1FcU9.png' %}">
      </div>
      <div class='field field-md'>
        <img src="{% static '/img/Wmo23Qv.png' %}">
      </div>
    </div>
  </div>
</div>

<div class='container-fluid bg-white'>
  <div class='container-lg'>
    <h1 class='title p-0'>
      <a class='anchor' name='contacts'></a>
      <strong>Контакты</strong>
    </h1>
  </div>

  <div class='container-lg' id='contacts'>
    <a class='text-decoration-none mt-0' href='tel:+7 987 291-19-19'>
      +7 987 291-19-19
    </a>
    <a class='text-decoration-none' href='mailto:customer@api-factory.tech'>
      customer@api-factory.tech
    </a>
  </div>
  <div class='container-lg'>
    <form id='address'>
      <select id='country'>
        <option selected value='1'>Россия</option>
      </select>
      <select id='city'>
        <option value='Moscow' selected>Москва</option>
        <option value='Perm'>Пермь</option>
        <option value='Izhevsk'>Ижевск</option>
        <option value='Almetyevsk'>Альметьевск</option>
      </select>
    </form>
    <div id='results'></div>
  </div>
</div>

<footer class='container-fluid'>
  <a class='anchor' name='callback'></a>
  <div class='container-lg' id='footer-form-wrapper'>
    <p id='footer-form-title'>
      Отправьте заявление, и с Вами обязательно свяжутся
    </p>
    <form>
      {% csrf_token %}
      <div class='field'>
        {{ form.name }}
      </div>
      <div class='field'>
        {{ form.phone }}
      </div>
      <div class='field'>
        {{ form.question }}
      </div>
      <div class='field form-check'>
        {{ form.agreement }}
        <label class='form-check-label' for='{{ form.agreement.id_for_label}}'>
          Нажимая кнопку «Отправить», я даю свое согласие на обработку моих
          персональных данных, в соответствии с Федеральным законом от
          27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для
          целей, определенных в Согласии на обработку персональных данных
        </label>
      </div>
      <div class='btn-wrapper'>
        <button class='btn btn-md' type='submit'>
          Отправить
        </button>
      </div>
    </form>
  </div>
  <div class='container-lg' id='footer-nav'>
    <a class='navbar-brand nav-link' href="{% url 'main:home' %}"
      style="background-image: url({% static 'svg/logo2.svg' %})"></a>
    <ul class='navbar-nav' id='nav-items'>
      <li class='nav-item'>
        <a class='nav-link' aria-current='page' href='#about'>О компании</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' href='#solutions'>Отраслевые решения</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' href='#services'>Услуги</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' href='#prices'>Стоимость</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' href='#customers'>Заказчики</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' href='#contacts'>Контакты</a>
      </li>
    </ul>
    <div id='copyright'>
      © 2024 АПИ-ФАКТОРИ
    </div>
  </div>
</footer>

<div id='alert' role='alert'>Уведомление</div>
{% endblock %}
