@import '/src/styles/common.scss';

$fail: #ff2600;
$info: #fbff00;
$success: #99ff00;

@mixin getColorScheme($type) {
	background-color: color-mix(in srgb, $mainWhiteColor 50%, $type);
	& .alert_icon {
		fill: color-mix(in srgb, $mainDarkColor 40%, $type);
	}
	& > .alert_content {
		color: color-mix(in srgb, $mainDarkColor 60%, $type);
	}
}

.alert {
	position: relative;
	border-radius: 9px;
	width: 450px;
	height: auto;
	padding: 10px;
	overflow: hidden;

	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;

	border: #dddddd50 1px solid;
	box-shadow: 0px 1px 5px 3px #00000005;
	
	&.fail{
		@include getColorScheme($fail)
	}

	&.info{
		@include getColorScheme($info)
	}

	&.success{
		@include getColorScheme($success)
	}
}

.alert_icon {
	height: 20px;
	width: 20px;
}

.alert_content {
	font-weight: 500;
}