@import '/src/styles/common.scss';

main{
	min-height: calc(100svh - 100px - 50px);
}

.container {
	padding: 0 5px;
	height: 100%;
}

.title {
	font-weight: 600;
	font-size: 36px;
	margin-bottom: 36px;
}

.cards_wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 22px;
}
