@import '/src/styles/common.scss';

.page_title {
	font-weight: 600;
	margin-bottom: 30px;
}

.cards_wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 30px;
	max-width: 1000px;
}
